@import "./variables.scss";

.popup {
    &__container {
        /* The Modal (background) */
        display: block;
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    &__content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: fit-content;
        border-radius: 24px;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .3), 0px 1px 3px 1px rgba(0, 0, 0, .15);
    }

    /* The Close Button */
    &__close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    &__close:hover,
    &__close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}