// Color Primary
$color-primary: #0F94D8;
$color-on-primary: #fff;
$color-primary-container: #76d1ff;
$color-on-primary-container: #1b668c;

// Color Secondary
$color-secondary: #FFC52F;
$color-on-secondary: #fff;
$color-secondary-container: #ffedbd;
$color-on-secondary-container: #665a3b;

// Color Tertiary
$color-tertiary: #00C6EB;
$color-on-tertiary: #fff;

$color-warning: #E34C26;
$color-success: #699772;